---
import "../styles/footer.css";
---

<footer class="footer">
    <div class="footer-content">
        <div class="footer-brand">
            <img src="/PeruvianFlavorsCoffee/logo-L.png" alt="Peruvian Flavors Logo" class="brand-logo">
            <p class="brand-description">La mejor experiencia del café peruano</p>
        </div>

        <div class="footer-links">
            <div class="link-column">
                <h3>Explora</h3>
                <ul>
                    <li><a href="#hero">Inicio</a></li>
                    <li><a href="#products">Productos</a></li>
                    <li><a href="#about">Sobre Nosotros</a></li>
                    <li><a href="#testimonials">Testimonios</a></li>
                    <li><a href="#blog">Nuestro Blog</a></li>
                    <li><a href="#contact">Contacto</a></li>
                </ul>
            </div>

            <div class="link-column">
                <h3>Conecta</h3>
                <ul class="social-links">
                    <li>
                        <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-facebook"></i>
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                    </li>
                </ul>
            </div>


        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 Peruvian Flavors Coffee. Hecho con pasión cafetera.</p>
    </div>
</footer>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
