---
import "../styles/header.css";
---

<header class="header" role="banner">
    <nav class="navbar">
        <div class="nav-brand">
            <a href="/PeruvianFlavorsCoffee">
                <img src="/PeruvianFlavorsCoffee/logo-L.png" alt="Peruvian Flavors" />
            </a>
        </div>

        <div class="nav-links">
            <a href="/PeruvianFlavorsCoffee/#hero" class="nav-link">Inicio</a>
            <a href="/PeruvianFlavorsCoffee/#products" class="nav-link">Productos</a>
            <a href="/PeruvianFlavorsCoffee/#about" class="nav-link">Nosotros</a>
            <a href="/PeruvianFlavorsCoffee/#testimonials" class="nav-link">Testimonios</a>
            <a href="/PeruvianFlavorsCoffee/#blog" class="nav-link">Eventos</a>
            <a href="/PeruvianFlavorsCoffee/reclamaciones" class="nav-link">Reclamaciones</a>
        </div>


        <button class="menu-toggle" aria-label="Abrir menú" aria-expanded="false" aria-controls="primary-navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
</header>
